<html lang="en">
  <head>
    <title>{{config.metas.title}}</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="{{config.metas.color}}">
  <meta name="description" content="{{config.metas.title}}">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="msapplication-navbutton-color" content="{{config.metas.color}}">
  <meta name="theme-color" content="{{config.metas.color}}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">
  <meta property="og:description" content="{{config.metas.title}}">
  <meta property="og:image" content="{{config.metas.og_image}}">
  <meta property="og:site_name" content="{{config.metas.title}}">
  <meta property="og:title" content="{{config.metas.title}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{config.metas.url_site}}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{config.sourcePath}}/images/dosmil12comar.jpg"/>
    <link href="{{config.sourcePath}}/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{config.sourcePath}}/css/cover.css">
    <link rel="canonical" href="{{config.metas.canonical}}">

  </head>

  <body class="text-center">